
:root {
    --gradient: linear-gradient(
        45deg,
        #1C8EB0,
        #1EDAEB,
        #DAAC6C,
        #CA5B53,
        #F96D10
    );
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125em;
    line-height: 1.6;
    color: #333;
    background: #ddd;
    background-image: var(--gradient);
    background-size: 400%; 
    animation: bg-animation 20s infinite alternate;

}

@keyframes bg-animation {
    0% {
        background-position: left
    }
    100% { 
        background-position: right;
    }
}


.title {
    margin: 0 0 0.5em;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    font-size: 4rem;
    color: #7c362e;
    line-height: 0.8;
    margin: 0;

    background-image: var(--gradient);
    background-clip: text;
    color: transparent;
    background-size: 400%;
    /* animation: bg-animation 6s infinite alternate; */
}


.content {
    background: white;
    padding: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    font-size: 1.123em;
}

.fun {
    border: 0;
    cursor: pointer;
    padding: 1.125em 2.5em;
    font-size: 2rem;
    background-image: var(--gradient);
    background-size: 300%;
    background-position: left;
    transition: background-position 4s;
}

.fun:hover,
.fun:focus {
    background-position: right;
}